body
{
	font-size:                  1em;
	background-color:           #71D9E8;
	overflow:                   auto;
}

#Background
{
	position:                   fixed;
	width:                      100%;
	height:                     100%;
	overflow:                   hidden;
	top:                        0;
	left:                       0;
}

#HalfToneBlast
{
	position:                   absolute;
	width:                      100em;
	height:                     50em;
	bottom:                     0;
	left:                       50%;
	margin-left:                -50em;
	background-image:           url("../img/HalfTone.png");
	background-size:            auto 100%;
	background-repeat:          no-repeat;
}

#HalfToneBlast-Center
{
	position:                   absolute;
	left:                       50%;
	bottom:                     0;
}

#HalfToneBlast-BlastRays
{
	position:                   absolute;
	width:                      150em;
	height:                     150em;
	left:                       -75em;
	bottom:                     -75em;
	animation:                  fullRotation 180s linear infinite;
}

@keyframes fullRotation
{
	100% { transform: rotate(360deg); }
}

.blastRotation-1
{
	animation:                  blastRotationAnimation-1 25s ease-in-out infinite alternate
}

.blastRotation-2
{
	animation:                  blastRotationAnimation-2 30s ease-in-out infinite alternate
}

.blastRotation-3
{
	animation:                  blastRotationAnimation-3 20s ease-in-out infinite alternate
}

@keyframes blastRotationAnimation-1
{
	0%   { transform: rotate(5deg);  }
	25%  { transform: rotate(0deg); }
	75%  { transform: rotate(8deg);  }
	100% { transform: rotate(3deg); }
}

@keyframes blastRotationAnimation-2
{
	10%  { transform: rotate(0deg);  }
	50%  { transform: rotate(10deg); }
	90%  { transform: rotate(1deg);  }
	100% { transform: rotate(5deg);  }
}

@keyframes blastRotationAnimation-3
{
	40%  { transform: rotate(0deg); }
	60%  { transform: rotate(7deg);  }
	80%  { transform: rotate(2deg); }
	100% { transform: rotate(10deg); }
}

#HalfToneBlast-Bubbles
{
	position:                   absolute;
	width:                      100%;
	height:                     100%;
}

#HalfToneBlast-Cap
{
	position:                   absolute;
	width:                      50em;
	height:                     50em;
	border-radius:              50%;
	bottom:                     -25em;
	left:                       -25em;
	background:                 radial-gradient(ellipse at center, rgba(250,250,250,1) 10%,rgba(255,255,255,0) 50%);
}

.bubble
{
	position:                   absolute;
	float:                      left;
	padding:                    2em;
	font-size:                  1em;
	border:                     black 0.25em solid;
	border-radius:              1em;
	font-family:                "Comic Sans MS";
	font-weight:                bold;
	text-align:                 center;
	min-width:                  5em;
	max-width:                  20em;
	box-shadow:                 0 0.25em 2em -0.5em rgba(0, 0, 0, 0.25);
	text-transform:             uppercase;
	background-color:           white;
	margin-bottom:              2em;
}

.bubble::before
{
	content:                    "";
	position:                   absolute;
	bottom:                     -1.4em;
	right:                      1.075em;
	height:                     0;
	width:                      0;
	border-left:                1.25em solid transparent;
	border-right:               0.75em solid transparent;
	border-top:                 1.25em solid black;
}

.bubble::after
{
	content:                    "";
	position:                   absolute;
	bottom:                     -1.15em;
	right:                      1em;
	height:                     0;
	width:                      0;
	border-left:                1.5em solid transparent;
	border-right:               0.9em solid transparent;
	border-top:                 1.5em solid white;
}

.bubble.bubble-left::before
{
	left:                       1.075em;
	border-right:               1.25em solid transparent;
	border-left:                0.75em solid transparent;
}

.bubble.bubble-left::after
{
	left:                       1em;
	border-right:               1.5em solid transparent;
	border-left:                0.9em solid transparent;
}

#BlastZone
{
	position:                   fixed;
	bottom:                     0.1em;
	left:                       0.3em;
	font-size:                  40em;
}

.comic-page
{
	position:                   absolute;
	background-color:           white;
	padding:                    1em 0 0 1em;
	width:                      60em;
	right:                      1em;
	top:                        1em;
	border:                     1px #999 solid;
	border-radius:              0.2em;
	box-shadow:                 0 0.25em 2em -0.5em rgba(0, 0, 0, 0.5);
	background:                 linear-gradient(45deg, rgba(200,200,200,0.9) 10%,rgba(255,255,255,0.75) 50%);
}

.comic-frame
{
	display:                    inline-block;
	width:                      19em;
	height:                     15em;
	margin:                     0 1em 1em 0;
	background-color:           white;
}

.comic-frame-twoThirds
{
	width:                      39em;
}

.comic-frame-oneHalf
{
	width:                      29em;
}

.comic-frame-full
{
	width:                      59em;
}


.comic-frame-content
{
	position:                   relative;
	border:                     0.2em #333 solid;
	width:                      100%;
	height:                     100%;
	margin:                     -0.1em 0 0 -0.1em;
	border-radius:              0.2em;
}

.comic-actionText
{
	position:                   absolute;
	font-size:                  0.7em;
	font-weight:                bold;
	text-transform:             uppercase;
	font-style:                 italic;
	padding:                    1em 2em;
	margin:                     0.5em;
	font-family:                "Comic Sans MS";
	max-width:                  66%;
	background-color:           #f5e66c;
	border:                     0.2em solid black;
}

.comic-actionText-topLeft     { top:    0; left:  0; }
.comic-actionText-topRight    { top:    0; right: 0; }
.comic-actionText-bottomLeft  { bottom: 0; left:  0; }
.comic-actionText-bottomRight { bottom: 0; right: 0; }

.comic-actionText-snapToFrame
{
	margin:                     0;
	border-style:               none solid solid none;
}

.comic-actionText-snapToFrame.comic-actionText-topLeft     { border-style: none  solid solid none  }
.comic-actionText-snapToFrame.comic-actionText-topRight    { border-style: none  none  solid solid }
.comic-actionText-snapToFrame.comic-actionText-bottomLeft  { border-style: solid solid none  none  }
.comic-actionText-snapToFrame.comic-actionText-bottomRight { border-style: solid none  none  solid }

@media (max-width: 1000px)
{
	.comic-page
	{
		font-size:                  0.5em;
	}
	
	#BlastZone
	{
		font-size:                  25em;
	}
}

@media (max-width: 600px)
{
	#HalfToneBlast
	{
		font-size:                  0.5em;
	}
	
	#BlastZone
	{
		font-size:                  30em;
		left:                       50%;
		bottom:                     -0.5em;
	}
}